{% extends 'base.html' %}

{% load static %}



{% block content %}

<div class="container">
    <div class="row col-md-12 mt-4">
        <div class="col-md-8">
                <div class="col-md-2">
                    <span>name</span>
                </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <h5 class="card-title btn btn-info" >Users you can Follow</h5>
                <div class="row g-0">

                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="user-profile">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <b class="card-text">juma</b>
                      <p class="card-text"><small class="text-body-secondary">20k Folowers</small></p>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="user-profile">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <b class="card-text">juma</b>
                      <p class="card-text"><small class="text-body-secondary">20k Folowers</small></p>
                    </div>
                  </div>

                  

                </div>
              </div>
        </div>
    </div>
</div>

    
{% endblock content %}
    